body
{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.Login_screen
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Login_container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Login_input_field
{
    font-size: 1.25em;
    width: 20em;
    padding: 10px;
    border: 2px solid rgb(107, 107, 107);
    outline: none;
    transition: 0.5s;
}
.Login_input_field:focus
{
    border: 2px solid black;
}

.Login_button
{
    font-size: 1.25em;
    margin: 10px;
    padding: 16px 32px;
    transition: 0.3s;
    width: 10em;
    border: 2px solid rgb(107, 107, 107);
    background-color: white;
}

.Login_button:hover
{
    border: 2px solid black;
    background-color: rgb(196, 223, 247);
    transition: 0.3s;
    margin: 10px;
    cursor: pointer;
}

.Login_label
{
    font-size: 1.25em;
    margin-bottom: 10px;
}

@media screen and (max-width: 460px)
{
    .Login_input_field
    {
        width: 70vw;
    }    
}