.App
{
    display: flex;
    flex-direction: column;
}

.App_header
{
    display: flex;
    justify-content: baseline;
    height: 30vh;
}

.StartPage_login
{
    display: flex;
    height: 70vh;
}

.App_welcome
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.StartPage_button_container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 42vh;
    width: 50vw;
}

.StartPage_button
{
    font-size: large;
    margin: 10px;
    padding: 16px 32px;
    transition: 0.3s;
    border: 2px solid rgb(107, 107, 107);
    background-color: white;
    width: 50%;
}

.StartPage_button:hover
{
    border: 2px solid black;
    background-color: rgb(196, 223, 247);
    transition: 0.3s;
    margin: 10px;
    cursor: pointer;
}

.StartPage_help_container
{
    display: flex;
    justify-content: flex-end;
    height: 8vh;
}

.Help_button
{
    font-size: 1em;
    margin-right: 1vw;
    padding: 10px 20px;
    transition: 0.3s;
    border: 2px solid rgb(107, 107, 107);
    background-color: white;
}

.Help_button:hover
{
    border: 2px solid black;
    background-color: rgb(196, 223, 247);
    transition: 0.3s;
    cursor: pointer;
}

h2
{
    font-size: 4em;
}

h3
{
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

div
{
    width: 100vw;
}

@media screen and (max-width: 720px)
{
    .StartPage_button
    {
        width: 100%;
    }    
}