.grey
{
    width: 100%;
    height: 100%;
    background-color: gray;
    background-image: url("./Figures/amazon_black.png");
}

.figure
{
    width: 100%;
    height: 100%;
}

.lightgrey
{
    width: 100%;
    height: 100%;
    background-color: lightgray;
    display: flex;
}