div
{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 80vh;
    width: 80vh;
}

.board-row
{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
}

@media screen and (max-width: 700px)
{
    .board
    {
        width: 60vh;
        height: 60vh;
    }    
}

@media screen and (max-width: 530px)
{
    .board
    {
        width: 40vh;
        height: 40vh;
    }    
}

@media screen and (max-width: 350px)
{
    .board
    {
        width: 30vh;
        height: 30vh;
    }    
}

@media screen and (max-width: 270px)
{
    .board
    {
        width: 20vh;
        height: 20vh;
    }    
}